h1::after {
  content: " ";
  display: block;
  width: 40px;
  height: 4px;
  background: #caf;
  margin-right: 10px;
}

ul{
  list-style: none;
}

li{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

li::before{
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(#caf 50%, transparent 50%);
  border: 2px solid #caf;
  border-radius: 50%;
  margin-right: 10px;
}